<%! from django.utils.translation import ugettext as _ %>
<%page args="section_data"/>


<div class="data-download-container action-type-container">
    <h1> First Choose Your Class </h1>
    <div class="wrapper-member-select">

        <p>
            <select id="member-lists-selector-2" class="member-lists-selector">
                %if len(section_data['class_code_list']) > 0:
                    %for c in section_data['class_code_list']:
                        <option value="${c['class_code']}">${c['class_code']}: ${c['short_name']}</option>
                    %endfor
                %else:
                    <option>No classes available.</option>
                %endif
            </select></p>
        <label for="member-lists-selector-2">
                %if len(section_data['class_code_list']) == 0:
                    You have no classes available. Create a new class in the My Classes Tab.
                %else:
                    Select which of your classes you would like to obtain grades from.
                %endif
        </label>
%if len(section_data['class_code_list']) > 0:
<p></p>  
  <h2>${_("Gradebook")}</h2>
    <p><input type="button" name="go-to-gradebook" value="Go To Gradebook" onclick="location.href='${section_data['gradebook_url']}'+'/'+document.getElementById('member-lists-selector-2').value;"/></p>
  <div class="request-response-error msg msg-error copy" id="data-request-response-error"></div>
<p></p>
 <h2>${_("Grade Downloads")}</h2>
<p>Coming soon</p>
<!-- 
   <p>${_("For large classes, generating some reports can take several hours. When report generation is complete, a link that includes the date and time of generation appears in the table below. These reports are generated in the background, meaning it is OK to navigate away from this page while your report is generating.")}</p>

    <p>${_("Please be patient and do not click these buttons multiple times. Clicking these buttons multiple times will significantly slow the generation process.")}</p>

 
    <p>${_("Click to generate a CSV grade report for all currently enrolled students.")}</p>

    <p><input type="button" name="calculate-grades-csv" value="${_("Generate Grade Report")}" data-endpoint=""/></p>

    <p><input type="button" name="problem-grade-report" value="${_("Generate Problem Grade Report")}" data-endpoint=""/></p>

<div class="request-response msg msg-confirm copy" id="report-request-response"></div>
    <div class="request-response-error msg msg-error copy" id="report-request-response-error"></div>
    <br>

    <p><b>${_("Reports Available for Download")}</b></p>
    <p>
      ${_("The reports listed below are available for download for a limited time. A link to every report remains available on this page, identified by the UTC date and time of generation. Reports are not deleted, so you will always be able to access previously generated reports from this page.")}
    </p>

    <p>${_("<b>Note</b>: To keep student data secure, you cannot save or email these links for direct access. Copies of links expire within 5 minutes.")}</p><br>

    <div class="report-downloads-table" id="report-downloads-table-1" data-endpoint="" ></div>
  </div>

%if settings.FEATURES.get('ENABLE_INSTRUCTOR_BACKGROUND_TASKS'):
  <div class="running-tasks-container action-type-container">
    <hr>
    <h2> ${_("Pending Tasks")} </h2>
    <div class="running-tasks-section">
      <p>${_("The status for any active tasks appears in a table below.")} </p>
      <br />
      <div class="running-tasks-table-1" data-endpoint=""></div>
    </div>
    <div class="no-pending-tasks-message"></div>
  </div>
%endif
-->
%endif
