<%page args="section_data"/>
<%!
from django.utils.translation import ugettext as _
from courseware.courses import get_studio_url
from microsite_configuration import microsite
from openedx.core.djangoapps.course_groups.partition_scheme import get_cohorted_user_partition
%>

<script type="text/template" id="member-list-widget-template">
  <div class="member-list-widget">
    <div class="header">
      <div class="title"> {{title}} </div>
    </div>
    <div class="info"> {{info}} </div>
    <div class="member-list">
      <table>
        <thead>
          <tr>
            {{#labels}}
              <td class="label">{{.}}</td>
            {{/labels}}
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="bottom-bar">
      <label for="add-field" class="sr">{{add_placeholder}}</label>
      <input type="text" id="add-field" name="add-field" class="add-field" placeholder="{{add_placeholder}}">
      <input type="button" name="add" class="add" value="{{add_btn_label}}">
    </div>
  </div>
</script>

<div class="member-lists-management membership-section" aria-live="polite">
  ## Translators: an "Administration List" is a list, such as Course Staff, that users can be added to.
  <h2> ${_("View My Students")} </h2>

  <div class="request-response-error"></div>

  <div class="wrapper-member-select">
    ## Translators: an "Administrator Group" is a group, such as Course Staff, that users can be added to.
    <label for="member-lists-selector">${_("Select a course team role:")}</label>
    <select id="member-lists-selector" class="member-lists-selector">
        %if len(section_data['class_code_list']) > 0:
            % for c in section_data['class_code_list']:
                <option value="${c['class_code']}">$c['class_code']}: ${c['short_name']}</option>
            %endfor
        %else:
            <option> ${_("No classes available")} </option>
        %endif
    </select>

  </div>

  %if section_data['access']['teacher']:
    <p>I am a teacher, and therefore:</p>  

  %for c in section_data['class_code_list']:
    <div class="auth-list-container"
        data-rolename="${c['class_code']}"
        data-display-name="${c['class_code']}: ${c['class_name']}"
        data-list-endpoint="${section_data['list_students_of_class_code_url']}"
        data-modify-endpoint="${section_data['modify_students_of_class_code_url']}"
        data-add-button-label="${_("Invite Student to Class")}"></div>
  %endfor  
  %endif


