<%! from django.utils.translation import ugettext as _ %>
<%page args="section_data"/>
<% class_form = section_data['class_set_form'] %>

<div class="teacher-dashboard-class-view">
    % if len(section_data["my_classes"])<1:
        <div class="empty-data">You have no classes.</div>
    % endif
    <ul>
    % for c in section_data["my_classes"]:
    <li>
    <div class="teacher-dashboard-class-item">
            <div class="teacher-dashboard-class-header" >
                ${c["class_code"]}: &nbsp;${c["class_name"]}&nbsp; ( ${c["short_name"]} )
                <i class="fa fa-chevron-down" aria-hidden="true" style="float: right"></i>
        </div>
        <div class="teacher-dashboard-class-body" style="display:none;">
        <h2 class="summary-title">Class Details</h2>
            <ul>
                <li> Grade:&nbsp; ${c["grade"]}
                <li> Subject:&nbsp; ${c["subject"]}
                <li> School:&nbsp;${c["school_name"]}
                <li> Expected Number of Students:&nbsp;${c["no_of_students"]}
                <li> Active Accounts: &nbsp;${c["active_accounts"]}
                <li> Inactive Accounts: &nbsp;${c["total_accounts"]-c["active_accounts"]}
                <li> Use of Assessment: &nbsp;${c["assessment"]}
            </ul>
            <div class="my-classes-instructions">Click on the "My Students" tab to view/add students to your class.</div>
        </div>
        <div class="teacher-dashboard-class-timetable">
        </div>
    </div>
    % endfor
    </ul>
</div>
<div style="width: 100%; text-align: center">
<div class="create-class-button" style="width: 100%; margin: 0 auto;display:inline-block">
    <button id="add-button" style="width: 30%; margin: 0 auto; display: inline-block"><i class='fa fa-plus-circle' aria-hidden='true'></i> Create Class</button>
</div>
</div>

<div id="teacher-dashboard-class-form" style="display:none;">
    <div id="new-class-set-form" class="form-wrapper">
            <div class="section-title-form">
                <h2>
                    <span class="text">Create a new class</span>
                </h2>
            </div>

        <form id="create-class-set" action="teacher#view-my_classes" method="post">
            <div id="form-errors">
                ${ class_form.non_field_errors() }
            </div>
            <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">

<table class="class_set_form_table">
<tbody>
% for field in class_form:
    <tr>
        <th>
            <p> ${ field.label_tag() }
            </p>
        </th>
        <td class="td-field">
            ${ field }
        </td>
        <td class="td-helptext">
            % if field.help_text:
                ${ field.help_text }
            % endif
            <p> ${ field.errors } </p>
        </td>
    </tr>
% endfor
</tbody>
</table>

            <p>
                <input type="submit" value="Submit" />
            </p>
        </form>
        
    </div>
</div>
<script>
var button = document.getElementById('add-button'); // Assumes element with id='button'

button.onclick = function() {
    var div = document.getElementById('teacher-dashboard-class-form');
    if (div.style.display !== 'none') {
        div.style.display = 'none';
    }
    else {
        div.style.display = 'block';
    }
};
$(".teacher-dashboard-class-header").click(function () {
    $(this).next().toggle();
    $("i", this).toggleClass("fa-chevron-up fa-chevron-down");
});


if(document.getElementsByClassName("errorlist").length >0){
    var div = document.getElementById('teacher-dashboard-class-form');
    div.style.display='block';
}
if(document.getElementsByClassName("empty-data").length > 0){
    var div = document.getElementById('teacher-dashboard-class-form');
    div.style.display='block';
}

</script>

<style>
    .summary-title {
        margin-left: 20px;
        margin-top: 20px;
    }
    .my-classes-instructions{
        text-align: center;
        margin: 10px;
    }
    .errorlist {color: red;
                margin-left: -30pt;
                font-size: 10pt;
                }
    ul{list-style-type: none;}
    .td-helptext{font-size: 12pt;
              color: #666; 
    }
    form label{padding-top: 8pt;}
    .section-title-form{padding-top:20pt;padding-left:15pt;}
    .form-wrapper{background-color:#EEE;
                    padding: 15pt;
                    margin-top:10pt;
                    padding-bottom:40pt;}
    form{margin-left: 30pt;}
    .teacher-dashboard-class-header, .teacher-dashboard-class-body{
        padding: 3pt;
        line-height: 1.5;
    }
    .teacher-dashboard-class-header{
        background-color: #57C;
        font-weight:700;
        padding: 10pt;
    }
    .teacher-dashboard-class-body{
    }
    .teacher-dashboard-class-item{
        margin-bottom: 30pt;
        background-color: #e6eef7;
    }
    table, th, td {
        border: 0px solid black;
    }
    th, td {
        padding: 20px;
        text-align: left;
    }
    tbody > tr {
       height: 40px;
    }
    tbody > tr > td {vertical-align: middle;}
    tbody > tr > th {margin-right: 10px;}
    #id_subject {
        width: 100%;
        size: 12pt;
    }
    #id_grade {
        height: 120px;
    }
    .td-field{
        width: 250px;    
    }
</style>
